@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-display: white;
}
.offset:before{
    display: block;
    content:"" ;
    height: 6rem;
}
.navbar{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.2rem;
    background:rgba(0,0,0,0.6) !important;
    padding: 5px 0;
}
.navbar-dark .navbar-nav .nav-link{
  color: #fff;
  padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}
.heading-content{
    position: absolute;
    top: 40%;
    width: 100%;
    max-width: 100%;
}

.heading-content h5{
    font-size: 4em;
    font-weight: 300;
    color: #fff;
    font-family: monospace;
}
.heading-content h1{
    font-size: 5em;
    font-weight: bolder;
    color: #fff;
    font-family:'Montserrat',sans-serif;
}
.heading-content p{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: lighter;
    color: #ccc;
    word-spacing: 5px;
    letter-spacing:2px;
}
  /* about start */
#about .btn{
    border: 2px solid transparent;
    width: 40%;
    padding: 15px 22px;
    background: #000;
    border-radius: 5px;
    margin-top: 10px;
}
#about .btn a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}
#about .btn:hover{
    border: 2px solid #1ebba3;
}

/* Media Query */
@media screen and (max-width:767px){
    /* tablets */
    .navbar{
        letter-spacing: 0.1em;
        padding: 20px 0;
    }
    .heading-content h5{
        font-size: 3em;
    }
    .heading-content h1{
        font-size: 3em;
    }
}
@media screen and (max-width:479px){
    /* smatyphones */
    .navbar{
        letter-spacing: 0.1em;
        padding: 20px 0;
    }
    .heading-content h5{
        font-size: 2em;
    }
    .heading-content h1{
        font-size: 0.7em;
    }
    .heading-content p{
        font-size: 0.7em;
    }
}